#class {
    background-image: url("https://cdn.glitch.com/a8523ae7-6b48-4657-aa8b-dc72cf4663db%2FP_gHbQAN.jpg?v=1574829386502");
   background-repeat: no-repeat;
 }
 
 #topHead {
   font-size: 55px;  
 }
 
 #split {
   height: 60px;
 }
 