<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Page Rework</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script src="/client.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
				
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/classstyle.css" />
     <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body id ="class">
    

  
<div class="w3-container w3-center w3-animate-bottom">
  <h1 id = "topHead">Jean Vanier Computer Science</h1>
  <div id = "split"></div>
  <p>Some information on my computer science class which powered the learning behind this site.</p>
</div>
  
    
    <div class="w3-content w3-section" style="max-width:200px">
  <img class="w3-animate-top" src="https://cdn.glitch.com/a8523ae7-6b48-4657-aa8b-dc72cf4663db%2Ffasf.jpg?v=1575055656552" style="width:100%">
  <img class="w3-animate-zoom" src="https://cdn.glitch.com/a8523ae7-6b48-4657-aa8b-dc72cf4663db%2Fdownload.jpg?v=1575055657542" style="width:100%">
  <img class="w3-animate-left" src="https://cdn.glitch.com/a8523ae7-6b48-4657-aa8b-dc72cf4663db%2Fdownload.png?v=1575055659971" style="width:100%">
  <img class="w3-animate-bottom" src="https://cdn.glitch.com/a8523ae7-6b48-4657-aa8b-dc72cf4663db%2Fjhk.jpg?v=1575055661120" style="width:100%">
</div>

  <!--<div class="embed-responsive embed-responsive-16by9">
      <iframe
        id="Maps"
        class="embed-responsive-item, centered"
        src="https://maps.google.com/maps?q=collinwood%20ontario&t=&z=13&ie=UTF8&iwloc=&output=embed"
        allowfullscreen
      ></iframe>
    </div>
  -->
    
    
    
      <ul class ="centered">
  <li><a  href="/">Homepage</a></li>
  <li><a href="class.html">Class</a></li>
  <li><a href="otherwork.html">Other Work</a></li>
</ul>
  </body>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</html>
