<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Page Rework</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="/client.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/classstyle.css" />
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="header"></div>
  <div id = "project-container" class = "row">
    <div class="col-sm-4">
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/X6ivOKV6ob"
      ></iframe>
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/8DZHTcgCGl"
      ></iframe>
    </div>
    <div class="col-sm-4">
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/hhGfW1sTtk"
      ></iframe>
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/Zi1F12V1ON"
      ></iframe>
    </div>
    <div class="col-sm-4">
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/Funcvphiv8"
      ></iframe>
      <iframe
        class="project"
        allowfullscreen
        frameborder="0"
        width="480"
        height="300"
        src="https://www.vidcode.com/share/Ykx2Ydwxi8"
      ></iframe>
    </div>
    </div>
    <ul class="centered">
      <li><a href="/">Homepage</a></li>
      <li><a href="class.html">Class</a></li>
      <li><a href="otherwork.html">Other Work</a></li>
    </ul>
   <h1>
Unit enders from Vidcode:
    </h1>
   <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/Gi6o1ZdeRI"></iframe>
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/L3H0Svtkqj"></iframe>
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/U8S0lcoT9Q"></iframe>
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/MWEgiSH731"></iframe>
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/0Cs5sp4S07"></iframe>
    <iframe allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/N0Ys0dSAjy"></iframe>
    <div class = "row">
    <div class = "col-sm-6">
      <h1>
My First Personal Webpage:
    </h1>
    <a href = "https://express-rework.glitch.me/"><iframe allowfullscreen frameborder="0" width="900" height="800" src="https://express-rework.glitch.me/"></iframe></a>
      </div>
      <div class = "col-sm-6">
          <h1>
My HighFive Marketplace:
    </h1>
    <a href = "https://the-webstore-highfives.glitch.me/"><iframe allowfullscreen frameborder="0" width="900" height="800" src="https://the-webstore-highfives.glitch.me/"></iframe></a>
      </div>
      </div>
  </body>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</html>
